# Ignore Helm package files
*.tgz

# Ignore configuration files
*.lock
*.bak

# Ignore directories
chartmuseum/

# Ignore specific Helm directories
tmp/
cache/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Vim swap files
*.swp

#Ignore added helm name space
ignition-namespace/

# Ignore Emacs temporary files
*~

# Ignore VSCode settings
.vscode/

# Ignore macOS files
*.DS_Store

# Ignore logs and temporary files
*.log
*.tmp
*.out
*.err

# Node modules and package-lock for any scripts
node_modules/
package-lock.json

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore .env files for configuration
.env
.env.local
